doctype html
html
  head
    title Simple Landing Page
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="a landing page for a description about you and your social links")
    meta(name="keywords", content="Logan McAnsh, landing page, land, page, description, social links")
    meta(name="author", content="Logan McAnsh")
    meta(name="theme-color", content="#212121")
    link(rel="icon", sizes="any", mask, href="img/website_icon.svg")
    link(rel="stylesheet", href="css/style.css")
    link(rel="apple-touch-icon" href="img/apple-touch-icon.png")
    link(rel="shortcut icon" href="img/favicon.ico")
    // landing page, open source, free to use
  body
    .structure
      a(href="https://twitter.com/@logansmcansh")
        .profile
      h1 Logan McAnsh
      h2.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

      // Social Links
      .social
      // Dribbble
      a.hvr-grow.dribbble(href="#")
        p.hidden Dribbble
        i.fa.fa-dribbble.fa-2x
      // Github
      a.hvr-grow.github(href="#")
        p.hidden Github
        i.fa.fa-github.fa-2x
      // Medium
      a.hvr-grow.medium(href="#")
        p.hidden Medium
        i.fa.fa-medium.fa-2x
      // Twitter
      a.hvr-grow.twitter(href="#")
        p.hidden Twitter
        i.fa.fa-twitter.fa-2x

      footer.hvr-grow
        a(href="https://twitter.com/@logansmcansh") made with boredom and some coffee by Logan McAnsh
